<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Hindsight</title>
    <link rel = "stylesheet" href = "..\static\style.css">
</head>
<body>     
    <div class="main-container">
        <nav class="nav-bar">
            <ul class="nav-left">
                <li><a href="/">Home</a></li>
                <li><a href="/">Add an Hurdle</a></li>
                <li><a href="/">Community Hurdles</a></li>
                <li><a href="/">Account</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="/">Sign Up/Login</a></li> 
            </ul>
        </nav>
        <div class="top-Obstacle-container">
            <h2>Hindsight Moment of the Day</h2>
            <p>Date of Hurdle: 7/28/2024
                <br/>
                Hurdle Encountered: Feeling overwhelmed about not getting the job I want in software development.
                <br/>
            </p>
            <p>
                Update: I got the job I was looking for after making this awesome project!
            </p>
        </div>
        <div class="daily-message">
            <h2>Message of the Day</h2>
            <p>We will not regret the past nor wish to shut the door on it.</p>
        </div>
    </div>
</body>
<footer>
    <div class="container">
        <p>&copy; 2024 Hindsight. All rights reserved.</p>
    </div>
</footer>
</html>